{{ define "main" }}
			{{ "<!-- Main -->" | safeHTML }}
				<section id="main" class="container">
					<header>
						<h2>{{ .Params.title }}</h2>
						<h4><time class="date-meta">({{ .Date.Format "Jan 2, 2006 1:00pm" }})</time></h4>
						{{ with .Params.subtitle }}
							<p>{{ . }}</p>
						{{ end }}
					</header>
					<div class="box">
						<div class="row">
							<div class="6u 12u(mobilep)">
							{{ with .Params.images }}
								<span class="image fit"><img src="{{ index . 0 | absURL }}" alt=""></span>
							{{ end }}
							</div>
							<div class="6u 12u(mobilep)">
							{{ .Content }}
							{{ if .Params.tags }}
								<p>Topics:
									{{ range $index, $key:= .Params.tags }}
										{{ if $index }}, {{ end }}
										{{ if gt (len $key) 0 }}
							  			<a href="/tags/{{$key | urlize }}/">#{{ $key }}</a>
											{{ end }} {{/* if gt len */}}
										{{ end }} {{/* range */}}
								</p>
							{{ end }} {{/* end if tags */}}
							</div>
						</div>
					</div>
				</section>
{{ end }}
